{{> header}}
{{> navbar}}    
    <main style="background-color: brown;">
        <h1>Contactanos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ex, totam saepe at quaerat dolorum id veritatis recusandae omnis esse eum unde, aspernatur reprehenderit in provident facere sint eaque ab?</p>
        <img src="/images/marvel.jpg">
    </main>
{{> footer}}