{{> header}}
{{> navbar}}
    <main style="background-color: brown;">
        <h1>Informe</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias aspernatur quisquam, libero, explicabo a expedita dicta, omnis obcaecati laudantium ratione dolorem rerum iure neque doloremque provident deserunt quis nulla fugit.</p>
    </main>
{{> footer}}